import init.ruby.usb.rc

on init

    # external sdcard
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard
    # internal sd on emmc
    export SECONDARY_STORAGE /mnt/emmc
    mkdir /mnt/emmc 0000 system system
    symlink /mnt/emmc /emmc

on early-fs

    mkdir /system
    mkdir /data     0771 system system
    mkdir /cache    0770 system cache
    mkdir /devlog   0700 root   root

    mount ext4 /dev/block/mmcblk0p29 /system wait ro noatime barrier=1
    mount ext4 /dev/block/mmcblk0p30 /cache wait noatime nosuid nodev barrier=1
    mount ext4 /dev/block/mmcblk0p31 /data wait noatime nosuid nodev barrier=1 noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p32 /devlog wait noatime nosuid nodev barrier=1

    rm /vendor
    mkdir /vendor               0771 system system
    mkdir /vendor/firmware      0771 system system
    mkdir /vendor/firmware/misc 0771 system system
    mkdir /vendor/firmware/adsp 0771 system system

    mount vfat /dev/block/mmcblk0p17 /vendor/firmware/misc wait ro shortname=lower
    mount vfat /dev/block/mmcblk0p21 /vendor/firmware/adsp wait ro shortname=lower

    symlink /vendor/firmware/adsp/q6.b07 /vendor/firmware/q6.b07
    symlink /vendor/firmware/adsp/q6.b06 /vendor/firmware/q6.b06
    symlink /vendor/firmware/adsp/q6.b05 /vendor/firmware/q6.b05
    symlink /vendor/firmware/adsp/q6.b04 /vendor/firmware/q6.b04
    symlink /vendor/firmware/adsp/q6.b03 /vendor/firmware/q6.b03
    symlink /vendor/firmware/adsp/q6.b02 /vendor/firmware/q6.b02
    symlink /vendor/firmware/adsp/q6.b01 /vendor/firmware/q6.b01
    symlink /vendor/firmware/adsp/q6.b00 /vendor/firmware/q6.b00
    symlink /vendor/firmware/adsp/q6.mdt /vendor/firmware/q6.mdt
    symlink /vendor/firmware/misc/modem.b10 /vendor/firmware/modem.b10
    symlink /vendor/firmware/misc/modem.b09 /vendor/firmware/modem.b09
    symlink /vendor/firmware/misc/modem.b08 /vendor/firmware/modem.b08
    symlink /vendor/firmware/misc/modem.b07 /vendor/firmware/modem.b07
    symlink /vendor/firmware/misc/modem.b06 /vendor/firmware/modem.b06
    symlink /vendor/firmware/misc/modem.b05 /vendor/firmware/modem.b05
    symlink /vendor/firmware/misc/modem.b04 /vendor/firmware/modem.b04
    symlink /vendor/firmware/misc/modem.b03 /vendor/firmware/modem.b03
    symlink /vendor/firmware/misc/modem.b02 /vendor/firmware/modem.b02
    symlink /vendor/firmware/misc/modem.b01 /vendor/firmware/modem.b01
    symlink /vendor/firmware/misc/modem.b00 /vendor/firmware/modem.b00
    symlink /vendor/firmware/misc/modem.mdt /vendor/firmware/modem.mdt

    mkdir /vendor/firmware/misc_mdm 0771 system system
    mount vfat /dev/block/mmcblk0p18 /vendor/firmware/misc_mdm wait ro shortname=lower

    symlink /vendor/firmware/misc_mdm/image/amss.mbn /vendor/firmware/amss.mbn
    symlink /vendor/firmware/misc_mdm/image/dsp1.mbn /vendor/firmware/dsp1.mbn
    symlink /vendor/firmware/misc_mdm/image/dsp2.mbn /vendor/firmware/dsp2.mbn
    symlink /vendor/firmware/misc_mdm/image/dbl.mbn /vendor/firmware/dbl.mbn
    symlink /vendor/firmware/misc_mdm/image/osbl.mbn /vendor/firmware/osbl.mbn
    symlink /vendor/firmware/misc_mdm/image/efs1.mbn /vendor/firmware/efs1.mbn
    symlink /vendor/firmware/misc_mdm/image/efs2.mbn /vendor/firmware/efs2.mbn
    symlink /vendor/firmware/misc_mdm/image/amss.mbn /vendor/firmware/amss.mbn
    symlink /vendor/firmware/misc_mdm/image/htcssmem.mbn /vendor/firmware/htcssmem.mbn

    # double check the perms and set owner
    chown root root /devlog
    chmod 0700 /devlog

on post-fs-data

#    # Discretix DRM
#    mkdir /data/DxDrm
#    mkdir /data/DxDrm/fuse
#    mkdir /data/DxDrm/Credentials
#    mkdir /data/DxDrm/Credentials/PlayReady
#    chmod 555 /data/DxDrm
#    copy /etc/DxPrdyProvisionObf.pkg /data/DxDrm/Credentials/PlayReady/DxPrdyProvisionObf.pkg
#    copy /etc/DxDrmConfig_Server.txt /data/DxDrm/DxDrmConfig_Server.txt

    # HTC_WIFI
    mkdir /data/misc/wifi           0770 wifi wifi
    mkdir /data/misc/wifi/sockets   0770 wifi wifi
    mkdir /data/misc/dhcp           0770 dhcp dhcp
    chown wifi wifi /system/etc/firmware/ti-connectivity/*
    chown wifi wifi /system/etc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi/p2p_supplicant.conf
    chown wifi wifi /data/misc/wifi/p2p_supplicant_manual.conf

    mkdir /data/radio 0770 radio radio
    mkdir /data/d 0777 system system
    mkdir /data/qcks 0770 system system

    setprop vold.post_fs_data_done 1

on boot

    mount debugfs /sys/kernel/debug /sys/kernel/debug
    mount debugfs /data/d /data/d

    chown radio system /sys/module/smd_rpcrouter/parameters/debug_mask
    chown radio system /sys/module/rpcrouter_sdio_xprt/parameters/debug_mask

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state

    # for modem link
    chown system system /sys/module/serial/parameters/modem_enabled

    # for Flip to speaker
    chown radio radio /sys/class/htc_accelerometer/accelerometer/PhoneOnOffFlag
    chown radio radio /sys/class/htc_ecompass/ecompass/PhoneOnOffFlag

    # for Optical sensors
    chown system system /sys/class/optical_sensors/lightsensor/ls_adc
    chown system system /sys/class/optical_sensors/lightsensor/ls_auto
    chown system system /sys/class/optical_sensors/lightsensor/ls_kadc
    chown system radio /sys/class/optical_sensors/proximity/ps_adc
    chown system system /sys/class/optical_sensors/proximity/ps_kadc
    chown system system /sys/class/optical_sensors/proximity/ps_led
    chown system system /sys/class/optical_sensors/proximity/ps_test_mode

    # permissions for NFC
#    setprop ro.nfc.port "I2C"
    setprop debug.nfc.fw_download "false"

    # for charging function
    chown radio radio /sys/module/htc_battery_8x60/parameters/phone_call
    chmod 0660 /sys/module/htc_battery_8x60/parameters/phone_call

    # KSM
    write /sys/kernel/mm/ksm/sleep_millisecs 3000
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/run 1

    # Load kineto_gan.ko while booting
     insmod /system/lib/modules/kineto_gan.ko

    # HTC_WIFI
    insmod /system/lib/modules/compat.ko
    insmod /system/lib/modules/cfg80211.ko
    insmod /system/lib/modules/mac80211.ko
    insmod /system/lib/modules/wl12xx.ko debug_level=0x63c00

    # Enlarge TCP window size for HSDPA Cat 14
    setprop net.tcp.buffersize.hsdpa   4096,174760,1572864,4096,16384,110208
    setprop net.tcp.buffersize.umts    4096,174760,1572864,4096,16384,110208
    setprop net.tcp.buffersize.edge    4096,174760,1572864,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4096,174760,1572864,4096,8760,11680

# Force loading of modem and Q6 images
service load-modem /system/bin/load-modem.sh
    oneshot

service kickstart /system/bin/qcks l
    oneshot

# shared transport user space mgr service for BT, FM, GPS
service uim /system/bin/uimqc
    class core
    user root
    group media bluetooth
    oneshot

# compass/accelerometer daemon
service akmd /system/bin/akmd
    class main
    user compass
    group compass misc input

# gyro daemon
service ewtzmud /system/bin/ewtzmud
    class main
    user system
    group system misc input

# bugreport is triggered by the KEY_VOL-UP and KEY_VOL-DOWN keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 114 115

# wifi ++
service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    disabled
    oneshot

service hostapd_bin /system/bin/hostapd -d /data/misc/wifi/hostapd.conf
    socket wpa_wlan1 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/p2p_supplicant.conf -dt
    socket wpa_p2p_wlan0:0 dgram 660 wifi wifi
    disabled
    oneshot

service initial_regdom /system/bin/initial_regdom.sh
     disabled
     oneshot

on property:wlan.driver.status=ok
    chown wifi wifi /sys/devices/platform/wl1271/bt_coex_state
    start initial_regdom

on property:init.svc.hostapd_bin=running
    start initial_regdom

service upd_nvs_wlan0 /system/bin/calibrator set upd_nvs /system/etc/wifi/TQS_D_1.7.ini /proc/calibration /data/misc/wifi/wl1271-nvs-calibrated.bin
        disabled
        class core
        user root
        group root
        oneshot

service chmod_nvs_wlan0 /system/bin/chmod 644 /data/misc/wifi/wl1271-nvs-calibrated.bin
        disabled
        class core
        user root
        group root
        oneshot
# wifi--

## for USB internet sharing
#service udhcpd /system/bin/udhcpd
#    disabled
#    oneshot

#service netsharing_on /system/bin/netsharing net on
#    disabled
#    oneshot

#service netsharing_off /system/bin/netsharing net off
#    disabled
#    oneshot

#service netsharing_pass /system/bin/netsharing net_pass on
#    disabled
#    oneshot

#service srv_ser2net /system/bin/ser2net -n
#    disabled

#on property:service.ser2net.enable=1
#    start srv_ser2net

#on property:service.ser2net.enable=0
#    stop srv_ser2net

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p25 /dev/block/mmcblk0p26 NULL NULL /dev/block/mmcblk0p27 /dev/block/mmcblk0p28 /dev/block/mmcblk0p20
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage

# for modem link
service modem /system/xbin/wireless_modem
    user system
    group system radio
    disabled

on property:service.modem.enable=1
    start modem

on property:service.modem.enable=0
    stop modem

service zchgd_offmode /system/bin/zchgd -pseudooffmode
    user root
    disabled

service zchgd_onmode /system/bin/zchgd -onmode
    user root
    oneshot

service qmuxd /system/bin/qmuxd
    class core
    user radio
    group radio audio

service netmgrd /system/bin/netmgrd

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

service hdmid /system/bin/hdmid
    socket displayd stream 0660 root system graphics

#service mpld /system/bin/mpld
#    user system
#    oneshot

service htcbatt /system/bin/htcbatt
    user root

#service dcvs0 /system/bin/dcvs --cpu=0 --slacktime=16
#    user root
#    disabled

#service dcvs1 /system/bin/dcvs --cpu=1 --slacktime=16
#    user root
#    disabled

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp --single_core_while_panel_off
    user root
    disabled

service thermald /system/bin/thermald
    user root
    disabled

on property:init.svc.bootanim=stopped
    start qcom-post-boot
    # Overwrite ActivityManager's low memory killer settings
    write /sys/module/lowmemorykiller/parameters/adj 0,2,4,7,9,12
    write /sys/module/lowmemorykiller/parameters/minfree 8192,10240,12288,14336,16384,20480
    write /sys/module/lowmemorykiller/parameters/minfile 8192,10240,12288,14336,16384,20480
    write /sys/module/lowmemorykiller/parameters/check_filepages 1
    # Protect more low memory pages
    write /proc/sys/vm/min_free_kbytes 4096
    start mpdecision
    start thermald

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    user root
    disabled
    oneshot

service htc_ebdlogd /system/bin/htc_ebdlogd -s -k -P 7
    user root
    disabled
    oneshot
    ioprio idle 0

service htc_ebdlogd_rel /system/bin/htc_ebdlogd -s -k
    user root
    disabled
    oneshot
    ioprio idle 0

## Discretix DRM
#service dx_drm_server /system/bin/DxDrmServerIpc -f -o allow_other /data/DxDrm/fuse

on property:ro.build.tags=test-keys
    start htc_ebdlogd

on property:ro.build.tags=release-keys
    start htc_ebdlogd_rel

